footer {
    background-color: #000;
    margin-top: 12rem;
}

footer .rodape {
    max-width: 1200px;
    margin: 80px auto 0px auto;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    padding: 80px 0px 80px 0px;
    justify-content: space-around;
}

.menu-logo p {
    color: #fff;
}

.about h2 {
    color: #fff;
}

.about p {
    color: #fff;
}

.address h2,li {
    color: #fff;
}

.address a {
    color: rgb(9, 170, 9);
}

@media(max-width:720px){
    footer {
        margin-top:4rem;
    }

    footer .rodape {
        display: flex;
        align-items: center;
        max-width: 315px;
        text-align: center;
    }

    .menu-logo {
        margin-bottom: 15px;
    }

    .about {
        margin-bottom: 15px;
    }

    .address {
        margin-bottom: 15px;
    }
}