.menu {
    display: flex;
    flex-wrap: wrap;
    max-width: 1200px;
    margin: 0 auto;
    padding: 15px 0;
    justify-content: space-between;
    align-items: center;
}

.menu-logo a {
    text-decoration: none;
    font-weight: 700;
    color: #323757;
    font-size: 40px;
}

.menu-nav ul {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
}

.menu-nav a {
    font-size: 20px;
    display: block;
    padding: 3px 3px;
    color: #323757;
    font-weight: 500;
    margin: 0 13px;
}

a.login-btn {
    color: #fff;
    padding: 1px 50px;
    background: #4c77e0;
    border-radius: 5px;
    font-weight: 600;
    opacity: 1;
    transition: 0.3s;
}

a.login-btn:hover {
    color: #fff;
    padding: 1px 50px;
    background: #3e5899;
    border-radius: 5px;
    font-weight: 600;
    opacity: 1;
}

@media(max-width:720px){
    .menu {
        display: flex;
        justify-content: center;
    }

    .menu-nav ul {
        display: flex;
        justify-content: center;
    }

    a.login-btn {
        margin-top: 10px;
    }
}